defaults/flow.json
[{"id":"3dd182fd.9f0e36","type":"ibmiot in","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"environment","applicationId":"","deviceType":"simulator","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":83,"y":83,"wires":[["e3b860a8.581578"]]},{"id":"e3b860a8.581578","type":"debug","z":"1d9c0f65.dd6b91","name":"","active":true,"console":"false","complete":"false","x":270,"y":63.25,"wires":[]},{"id":"12d2349f.5f2533","type":"debug","z":"1d9c0f65.dd6b91","name":"","active":true,"console":"false","complete":"observation","x":663,"y":1203,"wires":[]},{"id":"6f3df17.fa5cf1","type":"function","z":"1d9c0f65.dd6b91","name":"Fireplace On","func":"msg.payload = {\n    \"color\": \"yellow\"\n};\nmsg.deviceId = \"fireplace\";\nmsg.eventOrCommandType = 'turnOn';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":519,"y":223.75,"wires":[["556eb4c0.267f1c"]]},{"id":"21d542aa.a4dcb6","type":"function","z":"1d9c0f65.dd6b91","name":"Fireplace Off","func":"msg.payload = {};\nmsg.deviceId = \"fireplace\";\nmsg.eventOrCommandType = 'turnOff';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":519,"y":263.75,"wires":[["556eb4c0.267f1c"]]},{"id":"901bd471.4569b8","type":"switch","z":"1d9c0f65.dd6b91","name":"Temp <= 18C (65F)?","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"lte","v":"18","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":289,"y":243.75,"wires":[["6f3df17.fa5cf1"],["21d542aa.a4dcb6"]]},{"id":"bb6f67c5.cf26c","type":"function","z":"1d9c0f65.dd6b91","name":"A/C On","func":"msg.payload = {\n    \"state\": \"on\"\n};\nmsg.deviceId = \"airconditioner\";\nmsg.eventOrCommandType = 'turnOn';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":509,"y":363.75,"wires":[["203fb900.2b293"]]},{"id":"4bb99ff.c981fe","type":"function","z":"1d9c0f65.dd6b91","name":"A/C Off","func":"msg.payload = {\n    \"state\": \"off\"\n};\nmsg.deviceId = \"airconditioner\";\nmsg.eventOrCommandType = 'turnOff';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":509,"y":403.75,"wires":[["203fb900.2b293"]]},{"id":"6eec2742.15c3d","type":"switch","z":"1d9c0f65.dd6b91","name":"Temp >= 27C (80F)?","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gte","v":"27","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":289,"y":383.75,"wires":[["bb6f67c5.cf26c"],["4bb99ff.c981fe"]]},{"id":"203fb900.2b293","type":"ibmiot out","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"airconditioner","deviceType":"simulator","eventCommandType":"blank","format":"json","data":"{}","qos":0,"name":"Control A/C","service":"registered","x":759,"y":383.75,"wires":[]},{"id":"556eb4c0.267f1c","type":"ibmiot out","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"fireplace","deviceType":"simulator","eventCommandType":"blank","format":"json","data":"{}","qos":0,"name":"Control Fireplace","service":"registered","x":779,"y":243.75,"wires":[]}]
